html,body {
  margin: 0;
  height: 100%;
}
body {
  text-align: center;
}
.logo {
  margin: 10% 0;
  max-width: 416px;
  width: 70%;
}
input {
  max-width: 416px;
  width: 90% !important;
  margin: 15px 0;
}
.search-btn {
  max-width: 416px;
  width: 90% !important;
  margin: 5% 0 !important;
  box-shadow: 0 3px 10px rgba(66, 160, 254, .7);
}
#join, #create {
  min-height: 100%;
}
.el-dialog__body > span {
  display: block;
  line-height: 30px;
  text-align: left;
  font-size: 13px;
}
.group-info {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.el-message-box, .el-dialog {
  width: 90% !important;
  max-width: 420px;
  border-radius: 8px;
}
.copyright {
  color: #999;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}